html {
    background-color: rgb(131, 84, 175);
}

.header {
    background-image: url('./assets/images/fondo2.avif');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 30vh;
}

.navegacion {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    height: 100%;
}

.navegacion_titulo {
    color: white;
}

.enlaces {
    display: flex;
    justify-content: right;
    gap: 20px;
    list-style: none;
}

.enlaces_enlace {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    transition: color 0.3s ease;
}

.enlaces_enlace:hover {
  color: #007acc; /* cambia color al pasar el mouse */
}

.principal {
    /* background-image: url("./assets/images/fondo3.jpg"); */
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}

.section {
    padding: 0 20px;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    width: auto;
    height: auto;
}

#presentacion {
    color: black;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 0 20px;
    position: relative;
}

.section__contenedor_info {
}

.section__contenedor_botones {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
    list-style: none;
    text-decoration: none;
}

#sobre-mi {
    background: linear-gradient(
    90deg,
    var(#0f092180) 20%,
    transparent 40%
  );
}